.profile {
background-color: pink;
    align-items: center;
}

#playerImage {
    width: 100px;
  height: 99px;
  overflow: hidden; 
}

tr.scaffolding, .scaffolding td {
    border:none;
    padding-top:0;
    padding-bottom:0;
    height:0;
    margin-top:0;
    margin-bottom:0;
    visibility:hidden;
}

.text-center{
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li:nth-of-type(even) {
  background: red;
}

li:nth-of-type(odd) {
  background: darkgray;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 10px solid red;
}